.header {
  background-color: #cc8d1a;
  color: #cc8d1a;
  padding: 0.35rem;
  text-align: center;
  border-radius: 5px;
  font-size: 2rem;
  font-family: "Courier New", Courier, monospace;
  > div {
    background-color: #16232e;
    border-radius: 5px;
    padding: 0.25rem;
    h1 {
      margin: 0.5rem;
    }
  }
}

.container {
  display: grid;
  grid-template-columns: 1fr max-content 1fr;
  grid-template-rows: 326px;
  grid-gap: 2rem;
  justify-content: center;
  margin: 2rem;

  @media (width < 768px) {
    grid-template-columns: 1fr;
    grid-template-rows: min-content max-content 1fr;
  }
}

.board {
  display: grid;
  justify-content: center;
  align-items: center;
  height: max-content;

  table {
    border-radius: 5px;
    border: 3px solid;
    background-color: #164c45;
    tr {
      td {
        border-radius: 3px;
        background-color: white;
        border: 1px solid #333;
        margin: 0.5rem;
        height: 100px;
        width: 100px;
        button {
          all: unset;
          cursor: pointer;
          width: 100px;
          height: 100px;
          color: #333;
          font-family: Cambria, serif;
          font-size: 4rem;
          display: flex;
          justify-content: center;
          align-items: center;

          &.highlight,
          &:hover {
            background-color: #bda523;
          }
        }
      }
    }
  }
}

.history {
  display: flex;
  flex-direction: column;
  align-items: start;
  font-family: "Courier New", Courier, monospace;

  @media (width < 768px) {
    align-items: center;
  }

  > div {
    overflow: scroll;
    background-color: #e3c75f;
    border: 2px solid #164c45;
    margin: 0 0.25rem;
    padding: 0 0.25rem;
    border-radius: 5px;
    width: 160px;
    height: 100%;

    ol {
      list-style-type: none;
      padding: 0;

      li {
        display: flex;
        justify-content: space-between;
        width: max-content;
        margin: 0.25rem;
        font-size: 1.5rem;

        button {
          all: unset;
          cursor: pointer;
          background-color: #164c45;
          color: #e3c75f;
          padding: 0.5rem;
          border-radius: 5px;
          font-size: 1rem;
          font-weight: bold;
          font-family: inherit;
        }
      }
    }
  }
  h2 {
    font-size: 2rem;
    margin: 0.5rem;
  }
}

.player-info {
  display: flex;
  justify-content: end;
  align-items: center;
  font-size: 1.5rem;
  font-family: monospace;
  font-weight: bold;

  @media (width < 768px) {
    justify-content: center;
  }
}
